	/* To add font, get it from google fonts, the in https://www.fontsquirrel.com/tools/webfont-generator
    you can make the font much fasster and woff format so it works ! and then just use @font-face */

	@font-face {
        font-display: swap; 
		font-family: 'RobotoCondensed';
		font-style: normal;
		font-weight: 400;
		src: url('$lib/fonts/RobotoCondensed.woff') format('woff');
	}
	@font-face{
        font-display: swap;
		font-family: 'Poe';
		font-style: normal;
		font-weight: 400;
		src: url('$lib/fonts/poe.woff') format('woff');
	}
